
*.dblite
*.dll

*.exe

*.obj

*.lib
*.o
*.ox
*.a
*.ax
*.d
*.so
*.os
*.Plo
*.lo
*.suo
*.user
*.sln.docstates
*.sln
*.vcxproj*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
./build/
bld/
[Bb]in/
[Oo]bj/
*.debug
*.dSYM

.vs/
.vscode/

*.o
*.a
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.bak
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.nib

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.opendb
*.VC.VC.opendb
enc_temp_folder/
.sconsign.dblite
